@mixin font($size: 32px, $color: black, $weight: normal) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin square($width, $height, $radius: 0) {
  width: $width;
  height: $height;

  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border($width: 1px, $style: solid, $color: black) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}
